:root{
    --ermain: orangered;
}
main#main {
    background: #e2e2e2 !important;
}
div#eraddjob {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.additemform {
    min-width: 70%;
}
input.addjob {
    margin-top: 30px;
}
.erform_items {
    display: flex;
    flex-direction: row;
}
.locations,.erkobinfo{
    width: 48%;
    padding: 10px;
    overflow: hidden;
}
.input-group {
    display: inline-block;
    margin: 10px;
    width: 98%;
}
.input-group input, .input-group select{
    width: 100%;
}
label.eraddjobformwarning {
    color: red;
    font-weight: bold;
    letter-spacing: 2px;
}
input[type='time'] {
    height: 50px;
    outline: none;
    border: none;
    border-radius: 5px;
}
.select2 {
    border-radius: 5px;
}
.select2-dropdown{
    /* top: 31px; */
    border-radius: 5px;
}
.select2-container--classic .select2-selection--single{
    height: 50px;
    border: 1px solid transparent;
}
.select2-container--classic .select2-selection--single .select2-selection__rendered {
    line-height: 48px;
}
.select2-container--classic .select2-selection--single .select2-selection__clear {
    height: 50px;
    margin-right: 5px;
}
.select2-container--classic .select2-selection--single .select2-selection__arrow{
    height: 48px;
    border: none;
    display: none;
}
small.optional {
    color: var(--ermain);
}
.datetimewrap {
    display: flex;
    justify-content: space-between;
}
input#loading_date, input#loading_time {
    width: 48%;
}
input.addjob{
    outline: none;
    padding: 6px;
    font-size: 19px;
    height: 45px;
    border-radius: 5px;
    cursor: pointer;
    background: var(--ermain);
    border: ridge;
    opacity: .7;
    color: #fff;
    display: inline;
}

input[type="submit"]:hover{
    opacity: 1;
    transition: .3s ease;
}


.er_sidebar {
    min-width: 22%;
    max-width: 22% !important;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    height: fit-content;
}