body {
    margin: 0;
    padding: 0;
}

:root {
    --ermain: orangered;
}

main#main {
    background: #e2e2e2 !important;
}

div#er_jobs_section {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 50px 0px;
}
.er_sidebar {
    width: 30%;
    display: flex;
    justify-content: flex-start;
}
.er_sidebar .widget-area, .er_sidebar aside{
    width: 100% !important;
}
#trips_section{
    margin-top: 50px;
}
.er_jobs_content {
    width: 100%;
}
.er_jobItem {
    position: relative;
    margin: 5px;
    width: 25%;
    display: inline-block;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    transition: .3s ease-in;
    cursor: pointer;
}
span.erjobstatus {
    position: absolute;
    right: 0;
    padding: 5px;
    background: #fff;
    border-radius: 0px 0px 0px 5px;
}
._jobitem span {
    font-size: 16px;
}
span.jobapply a {
    color: red;
    text-decoration: underline;
}
._jobitem span i {
    width: 22px;
    color: orangered;
    font-size: 16px;
}

.laboriconcheck {
    color: green !important;
}

.green {
    color: green !important;
}

.laboriconnone {
    color: rgb(255, 56, 56) !important;
}

.er_jobItem:hover {
    box-shadow: 1px 1px 5px 0px #828282;
}

.erjobitemimg {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.erjobitemimg img {
    width: 100%;
}

/* Single page */
main#main {
    padding-top: 10px;
}
.warning {
    width: 100%;
    background: wheat;
    padding: 10px;
    color: var(--ermain);
    border-radius: 5px;
    box-shadow: 0px 1px 9px -5px #2f2f2f;
    margin-bottom: 25px;
}
.warning.working {
    background: #b1eac5;
    color: green;
}

.single_page_job {
    width: 70%;
    margin-top: 0px !important;
    border-top: none !important;
    border-style: none !important;
}

.single_page_job h1 {
    margin-top: 0px;
}
.locations ul {
    padding-left: 25px;
    margin-bottom: 12px;
}
.locations ul,
h4 {
    list-style: none;
    margin: 5px 0px;
}

.locations h4 {
    border-bottom: 1px solid #bbbaba;
}

.otherinfo {
    display: flex;
    justify-content: space-between;
}

.jobinfoitem {
    padding: 5px;
    display: inline-block;
    max-width: 33%;
    overflow: hidden;
}
.er_jobimg {
    margin-bottom: 10px;
    height: 150px;
    overflow: hidden;
}
.jobinfoitem h4 {
    margin: 0px !important;
}

.erhr {
    margin: 50px 0px;
}

.jobbottom {
    display: flex;
    justify-content: space-between;
}

.myinfo h3 {
    margin: 0px;
}

button.jobapply,
.bidbtn {
    width: 200px;
    height: 40px;
    background: orangered;
    outline: none;
    border: none;
    border-radius: 5px !important;
    color: #fff;
    font-size: 18px;
    opacity: .8;
    transition: .3s;
    border-radius: 5px;
    cursor: pointer;
}
.pagination {
    display: flex;
    justify-content: center;
    margin: 30px 0px;
}
a.page-numbers{
    border: 1px solid var(--ermain);
    min-width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: var(--ermain);
    border-radius: 3px;
    margin-right: 3px;
    padding: 3px 10px;
}
a.page-numbers:hover{
    background-color: var(--ermain);
    transition: .3s;
    color: #fff;
}
span.page-numbers.current {
    border: 1px solid var(--ermain);
    background: var(--ermain);
    min-width: 20px;
    display: inline-block;
    text-align: center;
    line-height: 20px;
    color: #fff;
    border-radius: 3px;
    margin-right: 3px;
    padding: 3px 10px;
}

.bidbtn {
    margin-top: 15px;
}
.bidbtn:hover,
button.jobapply:hover {
    opacity: 1;
}

h5.pricetitle {
    color: var(--ermain);
    margin-top: 0px;
    margin-bottom: 25px;
    padding-bottom: 10px;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
}

.single_job_pricebox ul {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 30px;
    padding-right: 30px;
}

.single_job_pricebox ul li {
    display: flex;
    justify-content: space-between;
}

.bidelem {
    margin: 0 auto;
}

.bidelem {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 7px 17px -12px #000;
    height: fit-content;
}
.bidelem table{
    width: 100%;
}
.bidelem form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#myprice {
    min-width: 100% !important;
}
input.bidbtn {
    margin-top: 14px;
}
.bidelem table td span {
    color: var(--ermain);
}
.bidelem table td {
    text-align-last: justify;
}
td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
.er_jobItem.disabled {
    background: #ff00001a;
    opacity: .5;
}
button.disabledbtn {
    opacity: .2;
}
button.disabledbtn:hover{
    opacity: .2;
    cursor: default;
}
.myinfo h3 a{
    text-decoration: underline;
}