.signupform{
    height: 100vh;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif !important;
}
main#main {
    background: #afafaf !important;
}

h3,h1 {
    margin: 10px 0px;
    color: #ffffff !important;
}
a {
  text-decoration: none;
  color: #ababab !important;
  transition: 0.5s ease;
}

.signupform {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(333deg, #21293494, rgb(255 255 255 / 88%)), url(https://images.unsplash.com/photo-1449965408869-eaa3f722e40d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1000&q=80);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.form {
  background: rgba(19, 35, 47, 0.9);
  padding: 28px;
  max-width: 300px;
  min-width: 300px;
  margin: 40px auto;
  border-radius: 4px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}

.tab-group {
  list-style: none;
  padding: 0;
  margin: 0 0 8px 0;
}
.tab-group:after {
  content: "";
  display: table;
  clear: both;
}
.tab-group li a {
  display: block;
  text-decoration: none;
  padding: 0px;
  background: rgba(160, 179, 176, 0.25);
  color: #a0b3b0;
  font-size: 16px;
  float: left;
  width: 50%;
  text-align: center;
  cursor: pointer;
  transition: 0.5s ease;
}

.tab-group li a:hover {
  opacity: .7;
  color: orangered;
}
.tab-group .active a {
  background: orangered;
  color: #e2e2e2 !important;
}

.tab-content > div:last-child {
  display: none;
}

h1 {
  text-align: center;
  color: #ffffff;
  font-weight: 300;
  margin: 0 0 40px;
}
div#signup h3,div#login h3 {
  font-size: 24px;
  text-align: center;
}
label {
  position: absolute;
  transform: translateY(3px);
  left: 18px;
  color: rgba(255, 255, 255, 0.5);
  transition: all 0.25s ease;
  -webkit-backface-visibility: hidden;
  pointer-events: none;
  font-size: 16px;
}
.field-wrap.last, .forgot {
  margin-bottom: 5px !important;
}
.field-wrap.last2 {
  margin-bottom: 25px;
}
label .req {
  margin: 2px;
  color: orangered;
}

label.active {
  transform: translateY(34px);
  left: 2px;
  font-size: 14px;
}
label.active .req {
  opacity: 0;
}

label.highlight {
  color: #ffffff;
}

.field-wrap {
  position: relative;
  margin-bottom: 27px;
}

div#signup input,div#login input {
  height: 35px;
}
.button {
  border: 0;
  outline: none;
  border-radius: 0;
  padding: 7px 29px !important;
  font-size: 14px !important;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  background: orangered;
  color: #ffffff;
  transition: all 0.5s ease;
  -webkit-appearance: none;
}
.button:hover, .button:focus {
  background: orangered;
}
#signup input,#login input[type=text],#signup input,#login input[type=number],#signup input,#login input[type=password]{
    background: #2a3943;
}
.button-block {
  display: block;
  width: 100%;
}

.forgot {
  margin-top: -20px;
  text-align: right;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
span.showpass {
  position: absolute;
  right: 7px;
  top: 5px;
  cursor: pointer;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.otp-code-form{
  display: none;
}
span.alert {
  position: absolute;
  right: -249px;
  top: 10%;
  background: #f2b682;
  color: #ff4500;
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}

.field-wrap.radiobtns{
  margin-bottom: 15px;
}
.field-wrap p {
    margin-bottom: 7px;
}
[type="radio"]:checked,
[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
  pointer-events: auto !important;
}
[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #f87da9;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
