.topforms {
    display: flex;
    justify-content: space-between;
}
.sorts {
    justify-content: space-between;
    width: 200px;
    align-self: flex-end;
}

.sorts form {
    display: inline-block;
}
.filter_search form{
    display: flex;
}
.filter_search,.add_locations {
    align-self: flex-end;
}
.filter_search {
    width: 208px;
}
.filter_search input {
    width: 200px;
}
.searchttl{
    margin-bottom: 10px;
}
input[name="searchfilter"]{
    cursor: pointer;
}
.locations {
    max-height: 80vh;
}
.searchttl {
    margin-bottom: 10px;
    text-align: right;
}
.locations::-webkit-scrollbar {
    width: 11px
}
.locations {
    scrollbar-width: thin;
    scrollbar-color: #007cba
}
.locations::-webkit-scrollbar-track {
    background: 0 0;
    cursor: grabbing !important
}

.locations::-webkit-scrollbar-thumb {
    background-color: #007cba;
    border-radius: 6px;
    border: 3px solid #cfd8dc
}
#districtlocation,#p_stationlocation{
    display: none;
}

.add_locations select{
    display: none;
}
th.del {
    width: 30px;
}

button.delete_addr {
    color: #fff;
    background: red;
    border: none;
    border-radius: 50%;
    font-size: 16px;
    line-height: 16px;
    width: 28px;
    height: 28px;
    cursor: pointer;
    opacity: .5;
    outline: 0;
    transition: .3s
}

button.delete_addr:hover {
    opacity: 1
}

.warnings {
    display: inline-block;
    margin-top: 10px;
    color: red
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    text-align: left;
    padding: 8px;
}

thead tr th {
    background: #23282d;
    color: #fff;
    text-transform: uppercase;
}

tr:nth-child(even) {
    background-color: #ddd
}

tr:hover {
    transition: .5s;
    background-color: #23282d66;
}

table tr button {
    font-size: 18px;
}

form#er_settings {
    width: 500px;
    display: flex;
    flex-direction: column;
}

.sendpaymentalert,
.paymentapprove {
    cursor: pointer;
}

@media screen and (max-width:600px) and (min-width:380px) {
    table {
        overflow-x: auto !important
    }
}